.App {
  text-align: center;
  color: green;
}


.Current-letter{

  color: blue;
  font-size: small;
  color: pink;
  flex-direction: column;
  align-items: left;

}

.App-header {
  background-color: #663300;
  min-height: 92.8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

