.Title {
    text-align: center;
    color: blue;
    /* width: cover;
    height: 480; */

    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #282c34;
  }
  

.container{
  width: 100%;
  background-color: #282c34;

}